@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

input:disabled{
    color: #444444;
    background-color: gray;
}

h1{
    font-family: 'Satisfy', cursive;
}